body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}
.container {
  max-width: 1158px;
  outline: 1px solid red;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  outline: 2px solid red;
  padding-top: 120px;
  padding-bottom: 120px;
}

a {
  text-decoration: none;
}
/* Header */
.header {
  padding: 24px 0;
}
.header .container {
  display: flex;
}
.header-nav {
  display: flex;
}
.header-logo-link {
  margin-right: 76px;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.web-link-header {
  font-weight: 700;
  font-size: 18px;
  /* line-height: 117%; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-list {
  display: flex;

  margin-right: 332px;
  gap: 40px;
}
.nav-item {
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover {
  color: #4d5ae5;
}
.header-address {
}
.address-list {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
}
.mail-link {
}

.tel-link {
}
.addres-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.addres-link:hover {
  color: #4d5ae5;
}
/* Hero */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../image/hero-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero-title {
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-but {
  margin-left: 480px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
}
.hero-but:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.but-text {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* About As */

.sec-about-us {
}

.title-ab-us {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.list-ab-us {
  display: flex;
  gap: 24px;
}
.item-ab-us {
  width: 264px;
}
.text-ab-us {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Our team */
.sec-our-team {
  background: #f4f4fd;
}
.title-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.member-list {
  display: flex;
  gap: 24px;
}
.hero-descr {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.hero-img {
}
.container-name-prof {
  padding-top: 32px;
}
.hero-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}
.hero-prof-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* Our Portfolio */
.our-portfolio {
}
.title-our-port {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.list-our-port {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  /* border: 1px solid #e7e9fc; */
}
.item-our-port {
}
.conteiner-name-portf {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.conteiner-img-portf {
}
.img-our-port {
}
.descr-title-sec {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 120%; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-our-port {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 150%; */
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.web-link-footer {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
